.box1, .box2, .box3 {
    background: linear-gradient(#030C22, #20293F 70%);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    height: 450px;
    max-height: 65vh;
    -webkit-box-shadow: 0 12px 18px -6px black;
    box-shadow: 0 12px 18px -6px black;
    object-fit: contain;
    width: 100%;

    transition: transform 450ms;
}

.box3:hover{
    transform:scale(1.08);
    opacity:1;
}

.box1:hover {
    transform:scale(1.08);
    opacity:1;
}

.box2:hover {
    transform:scale(1.08);
    opacity:1;
}

.box1, .box2, .box3 {
    margin:30px;
}

.grid {
    position: absolute;
    margin-top: 50px;
    min-height: 100%;
    left:50px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;


}
.grid > div {
    flex-basis: calc(23.333% - 50px);
}

Body{
    background: linear-gradient(#D24858, #20293F 70%);
}
