.box {
    font-family: "Lucida Sans Unicode";
    font-size: 20px;
    color: white;
    margin: -30px 10px 30px 20px;
}

.Post {
    background: linear-gradient(#EA8676, #D24858 70%);
    border-radius: 10px 10px 10px 10px;
    overflow: auto;
    -webkit-box-shadow: 0 12px 18px -6px black;
    box-shadow: 0 12px 18px -6px black;
    position: relative;
    min-height: 100%;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    flex-direction: row;
    margin-left: 50px;
    object-fit: contain;
    margin-right: 10px;
    margin-top: 50px;
    transition: transform 450ms;
    padding: 20px;
}

.Post:hover {
    transform: scale(1.08);
    opacity: 1;
}

.Post > div {
    flex-basis: calc(20% - 50px);
}
