.ReadStory {
    display: flex;
    justify-content: center;
    height:calc(100vh - 88px);
    font-family: Arial, serif
}

.PostContainer {
    height: 10vh;
    width: 100%;
    margin-top:50px;
    display: flex;
    justify-content: left;
    background-color: white;
    box-shadow: 2px 1px 8px transparent;
    flex-direction: column;
    margin-right: 25px;
}

.Post {
    background: linear-gradient(#163691, #fcfcfc 70%);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    height: 400px;
    max-height: 100vh;
    -webkit-box-shadow: 0 12px 18px -6px #e31b1b;
    box-shadow: 0 12px 18px -6px #dfe2ff;
    object-fit: contain;
    width: 100%;
    transition: transform 450ms;
}

.Post:hover {
    transform:scale(1.08);
    opacity:1;
}


.Post {
    width: 100%;
    margin-top: 28px;
    max-height: 400px;
    padding:30px;
    border: 1px lightslategray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

.Post p {
    width: 80%;
}

.Post:hover {
    cursor:pointer;
}

.PostStory p{
    font-family: Cambria, serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

.PostStory h4{
    text-align: justify;
    text-indent: 2em;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 32px;
}