label {
    display: block;
    margin-top: 10px;
}

.card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
}

.card {
    background-color: whitesmoke;
    padding: 20px 25px 30px;
    margin: 70px auto 25px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.navbar-dark {
    background-color: #20293F !important;
}

.navbar-nav > li {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
}


body {
    background-size: cover;
    min-height: 100vh;
    display: flex;
    font-weight: bolder;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100%;
}

.App, #root, .auth-wrapper {
    width: 100%;
    height: 100%;
}


